.text_with_icon_item {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 30px;
	.icon_wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: #e8faff;
		margin-right: 15px;
		align-self: center;
		padding: 8px;
		img {
			display: block;
			width: 23px;
			height: 23px;
			object-fit: contain;
		}
	}

	.text_wrapper {
		display: flex;
		flex-direction: column;
		span {
			font-family: 'Source Sans 3', sans-serif; font-weight: 600;
			font-weight: normal;
			letter-spacing: normal;
			color: $primary;
			font-size: 16px;
			line-height: 1.25;
			width: 100%;
			color: $primary;
		}
		p {
			font-family: 'Source Sans 3', sans-serif; font-weight: 300;
			font-size: 14px;
			font-weight: normal;
			line-height: 1.21;
			color: #7b8591;
			word-wrap: normal;
		}
	}
	@media screen and (min-width: #{map-get($grid-breakpoints, lg)}) {
		.icon_wrapper {
			width: 90px;
			height: 90px;
			margin-right: 24px;
			// padding: 18px;

			img {
				width: 50px;
				height: 50px;
			}
		}
		.text_wrapper {
			span {
				font-family: 'Source Sans 3', sans-serif; font-weight: 600;
				font-size: 50px;
				line-height: 1.3;
				color: $primary;
				width: 100%;
			}
			p {
				width: 100%;
				margin: 0;
				font-family: 'Source Sans 3', sans-serif; font-weight: 300;
				font-size: 20px;
				line-height: 1.3;
				color: #7b8591;
				text-transform: capitalize;
			}
		}
	}
}
