@import '../base/bp_variables';
@import '../base/color_variables';

.banner_style_3 {
	background-color: #f6f9fb;
	margin-top: -30px;
	padding: 27px 0 38px;
	@media screen and (min-width: #{map-get($grid-breakpoints, lg)}) {
		padding: 33px 0 28px;
		margin-top: -50px;
	}
	h3 {
		margin-bottom: 16px;
		font-family: 'Mermaid';
		font-weight: normal;
		color: $secondary;
		text-transform: capitalize;
		font-size: 20px;
		@media screen and (min-width: #{map-get($grid-breakpoints, lg)}) {
			font-size: 24px;
			margin-bottom: 12px;
		}
	}
	a {
		display: block;
		font-family: 'Source Sans 3', sans-serif;
		font-weight: normal;
		text-decoration: none;
		color: $primary;
		line-height: 1.21;
		font-size: 24px;
		margin-bottom: 32px;
		@media screen and (min-width: #{map-get($grid-breakpoints, lg)}) {
			margin-bottom: 0;
		}
	}
	ul {
		li {
			a {
				margin-bottom: 0;
			}
		}
	}
}
