@import '../animations/move_to_down';
@import '../base/bp_variables';
@import '../base/color_variables';

.grid-style-1 {
	background-color: #f6f9fb;
	padding-top: 60px;

	h2,
	p {
		text-align: center;
	}

	.items {
		margin-top: 40px;

		.item {
			&:not(:last-child) {
				margin-bottom: 72px;
			}
			&:last-child {
				margin-bottom: 38px;
			}
			.image-wrapper {
				position: relative;
				width: 90%;
				height: 331px;
				overflow: hidden;
				transition: all 150ms ease-in-out;
				margin: auto;
				margin-bottom: 20px;
				max-width: 316px;

				img {
					display: block;
					width: 100%;
					height: 100%;
				}

				.overlay {
					transition: all 150ms ease-in-out;
					opacity: 0;
					background-color: $secondary;
					letter-spacing: normal;
					color: #ffffff;
					position: absolute;
					top: 0;
					left: 0;
					top: 50%;
					left: 50%;
					width: calc(100% - 25px);
					height: calc(100% - 27px);
					transform: translate(-50%, -50%);

					ul {
						margin-top: 50px;
						list-style-type: none;

						li {
							margin-bottom: 20px;
							padding: 0 32px 0 35px;
							position: relative;
							font-family: 'Source Sans 3', sans-serif;
							font-size: 16px;
							line-height: 19px;

							span {
								font-family: 'Source Sans 3', sans-serif;
								font-size: 14px;
							}

							&::before {
								content: '';
								position: absolute;
								width: 5.5px;
								height: 5.5px;
								top: 4px;
								left: 16px;
								background-color: #fff;
								border-radius: 50%;
							}
						}
					}
				}
			}

			.content-wrapper {
				text-align: center;
				// margin: 40px 0 24px;

				h3 {
					margin-bottom: 18px;
					font-size: 20px;
					font-weight: 500;
					line-height: 1.25;
					color: $primary;
					font-family: 'Source Sans 3', sans-serif;
					transition: all 150ms ease-in-out;

					span {
						font-family: 'Source Sans 3', sans-serif; font-weight: 500;
						display: block;
					}
				}

				a {
					text-decoration: none;
					color: $secondary;
					font-family: 'Source Sans 3', sans-serif;
					font-size: 18px;
					font-weight: bold;
					line-height: 1.39;
					display: inline-block;

					img {
						display: inline-block;
						margin-left: 10px;
					}
				}
			}

			&:hover,
			&:focus {
				.image-wrapper {
					transform: scale(1.1);

					.overlay {
						opacity: 0.8;
						li {
							&:before {
								// animation: move_to_bottom 150ms 150ms;
							}
						}
					}
				}

				.content-wrapper {
					h3 {
						transform: translateY(10px);
					}
					a {
						color: #1e9ec4;
						background-color: transparent;
						img {
							filter: invert(45%) sepia(63%) saturate(572%) hue-rotate(149deg)
								brightness(103%) contrast(92%);
						}
					}
				}
			}
		}
	}

	@media screen and (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
		padding: 90px 0 42px;

		.items {
			margin-top: 60px;

			.item {
				&:not(:last-child) {
					margin-bottom: 0;
				}
				&:last-child {
					margin-bottom: 0;
				}
				margin-bottom: 30px;
				.image-wrapper {
					margin-bottom: 0;
				}
				.content-wrapper {
					text-align: center;
					margin: 40px 0 24px;

					h3 {
						margin-bottom: 19px;
						font-size: 28px;

						span {
							font-family: 'Source Sans 3', sans-serif; font-weight: 500;
							display: block;
						}
					}

					a {
						text-decoration: none;
						color: $secondary;
						font-family: 'Source Sans 3', sans-serif;
						font-size: 18px;
						font-weight: bold;
						line-height: 1.39;
						display: inline-block;

						img {
							display: inline-block;
							margin-left: 10px;
						}
					}
				}
			}
		}
	}
}
