@import '../base/bp_variables';
@import '../base/color_variables';

.section_intro_v1 {
	.section_title {
	}
	.section_subtitle {
		font-size: 28px;
		@media screen and (min-width: #{map-get($grid-breakpoints, md)}) and (max-width: map-get($map: $grid-breakpoints, $key: lg)) {
			font-size: 40px;
		}
		@media screen and (min-width: #{map-get($grid-breakpoints, lg)}) {
			font-size: 55px;
		}
	}
	.section_content {
		font-family: 'Source Sans 3', sans-serif; font-weight: 300;
		font-size: 16px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.75;
		letter-spacing: 0.16px;
		text-align: left;
		color: #7b8591;
		margin-bottom: 60px;

		> [style*='text-align: center'] {
			margin-top: 22px;
			margin: auto;
		}
		@media screen and (min-width: #{map-get($grid-breakpoints, lg)}) {
			* {
				max-width: 58%;
			}
		}
	}

	&.no_section_content {
		@media screen and (min-width: #{map-get($grid-breakpoints, lg)}) {
			margin-bottom: 80px;
		}
	}
}
