.news_article {
	margin-bottom: 40px;
	@media screen and (min-width: #{map-get($grid-breakpoints, lg)}) {
		margin: 0 50px 56px;
	}
	img {
		display: block;
		max-width: 100%;
		width: 100%;
		height: 212px;
		object-fit: cover;
		margin-bottom: 20px;
		@media screen and (min-width: #{map-get($grid-breakpoints, lg)}) {
			margin-bottom: 35px;
		}
	}
	.content_wrapper {
		time {
			display: block;
			font-family: 'Source Sans 3', sans-serif;
			font-weight: normal;
			letter-spacing: 0.24px;
			font-size: 12px;
			line-height: 1.17;
			color: #7b8591;
			margin-bottom: 10px;
			@media screen and (min-width: #{map-get($grid-breakpoints, lg)}) {
				margin-bottom: 12px;
				font-size: 16px;
				line-height: 1.25;
			}
		}
		h3 {
			margin-bottom: 20px;
			font-family: 'Source Sans 3', sans-serif; font-weight: 600;
			font-weight: normal;
			line-height: 1.39;
			font-size: 18px;
			color: #171a1d;
			@media screen and (min-width: #{map-get($grid-breakpoints, lg)}) {
				margin-bottom: 30px;
				line-height: 1.31;
				font-size: 26px;
			}
		}
	}
}
