.note_list {
	margin-top: 30px;
	list-style-type: none;
	li {
		font-family: 'Source Sans 3', sans-serif; font-weight: 300;
		font-size: 14px;
		line-height: 1.79;
		color: #7b8591;
		span {
			font-family: 'Source Sans 3', sans-serif;
			font-weight: normal;
		}
	}
}
