.form-with-sidenavigation {
	margin-top: 45px;
	position: relative;
	.col-lg-9 {
		position: static;
	}

	@media screen and (max-width: map-get($map: $grid-breakpoints, $key: sm)) {
		margin-top: 0;
	}
}

.form_wrapper {
	padding-bottom: 150px;
	br {
		display: none !important;
	}
	.accordion {
		.card {
			padding: 20px 0;
			@media screen and (max-width: map-get($map: $grid-breakpoints, $key: sm)) {
				&:first-child {
					padding: 0;
				}
			}
			.card-header {
				position: relative;
				color: $primary;
				background-color: #f6f9fb;
				padding: 20px 35px;
				font-family: Mermaid;
				font-size: 28px;
				line-height: 1.25;
				text-transform: capitalize;
				color: $primary;
				display: flex;
				justify-content: space-between;
				transition: all 300ms ease-in-out;

				@media screen and (max-width: map-get($map: $grid-breakpoints, $key: sm)) {
					position: sticky;
					top: 0%;
					z-index: 3;
					font-size: 20px !important;
					padding: 15px 20px;
					margin-left: -15px;
					margin-right: -15px;
				}

				&.with_nav {
					@media screen and (max-width: map-get($map: $grid-breakpoints, $key: sm)) {
						top: 77px;
					}
				}

				span {
					font-size: 14px;
					font-family: 'Source Sans 3', sans-serif; font-weight: 300;
					@media screen and (max-width: map-get($map: $grid-breakpoints, $key: sm)) {
						display: block;
						margin-top: 7px;
					}
				}
			}

			.card-body {
				margin-top: 10px;
				padding: 0 35px;
				@media screen and (max-width: map-get($map: $grid-breakpoints, $key: sm)) {
					padding: 0 10px;
				}
				.form_section_title {
					font-family: 'Source Sans 3', sans-serif; font-weight: 700;
					font-size: 28px;
					line-height: 1.36;
					color: $primary;
					margin-top: 39px;
					font-weight: normal;
					span {
						font-size: 14px;
						font-family: 'Source Sans 3', sans-serif; font-weight: 300;
						font-weight: normal;
					}

					@media screen and (max-width: map-get($map: $grid-breakpoints, $key: sm)) {
						font-size: 20px;
					}
				}
				.form_section_subtitle {
					font-family: 'Source Sans 3', sans-serif;
					font-size: 20px;
					line-height: 1.3;
					color: $primary;
					margin-top: 30px;
					font-weight: normal;
					@media screen and (max-width: map-get($map: $grid-breakpoints, $key: sm)) {
						font-size: 18px;
					}
				}
				.form_section_content {
					font-family: 'Source Sans 3', sans-serif; font-weight: 300;
					font-size: 16px;
					font-weight: 300;
					line-height: 1.44;
					letter-spacing: 0.16px;
					color: #7b8591;
					font-weight: normal;
					margin-top: 30px;
					width: 100%;
					max-width: 685px;
				}
			}
		}
	}
}
