@import './footer_bottom';

footer {
	padding: 30px 0;
	background-color: $primary;
	a {
		&.brand {
			display: block;
			margin-bottom: 32px;
			width: 138px;
			height: 43px;
			img {
				max-width: 100%;
				display: block;
			}
		}
	}
	h2 {
		font-family: 'Mermaid';
		font-weight: normal;
		color: #eff5f8;
		font-size: 22px;
		line-height: 1.27;
		margin: 17px 0 20px;
	}
	ul {
		list-style-type: none;
		li {
			&:not(:last-child) {
				margin-bottom: 16px;
			}
			a {
				font-family: 'Source Sans 3', sans-serif; font-weight: 300;
				font-size: 14px;
				display: block;
				text-decoration: none;
				color: #afbfd8;
				line-height: 1.36;
				transition: all 0.3s ease-in-out;
				&:hover {
					color: #fff;
				}
			}
		}
		&.contact-info {
			li {
				&:first-child {
					a {
						font-family: 'Source Sans 3', sans-serif; font-weight: 600;
						font-size: 16px;
					}
				}

				&:nth-child(2) {
					max-width: 228px;
					a {
						font-family: 'Source Sans 3', sans-serif;
					}
				}
			}
		}
	}
	@media screen and (min-width: #{map-get($grid-breakpoints, lg)}) {
		padding: 94px 0 40px;

		a {
			&.brand {
				margin-bottom: 42px;
			}
		}

		h2 {
			margin: 17px 0 42px;
		}

		ul {
			list-style-type: none;
			li {
				&:not(:last-child) {
					margin-bottom: 25px;
				}
			}
		}
	}
}
